.timerBlock {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    border: double gray 6px;
    border-radius: 100%;

    & span {
        padding-bottom: 5px;
    }
}
