.light {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.lightPic {
    width: 320px;
    height: 100vh;
    max-height: 747px;
}

@media (max-width: 600px) {
    .lightPic {
        width: 35%;
        height: auto;
        max-height: 100vh;
    }
}

@media (max-width: 420px) {
    .lightPic {
        width: 50%;
    }
}

